<tr class="h-12 shadow rounded" id="<%= dom_id plant %>">
  <td><%= plant.id %></td>
  <td><%= plant.name %></td>
  <td><%= plant.variety %></td>
  <td><%= plant.plant_date.strftime("%Y-%m-%d") %></td>
  <td><%= plant.created_at.strftime("%Y-%m-%d") %></td>
  <td class="h-full"><a class="bg-yellow-500 text-white p-2 rounded" href="/plants/<%=plant.id %>">Info</a></td>
</tr>
