<div class="w-3/5 bg-white py-3 px-2">
  <h1 class="text-4xl font-bold mb-6">My Plants</h1>
  <div class="px-2" id="plants">
    <%= if flash.each do |name, message| %>
      <p class="<%= name %>">
        <%= message %>
      </p>
    <% end.empty? %>
    <% end %>
    <table class="w-full my-2 text-center">
      <tr class="text-center text-lg bg-green-500 text-white w-full rounded h-16">
        <th>Id</th>
        <th>Name</th>
        <th>Variety</th>
        <th>Planted Date</th>
        <th>Created Date</th>
        <th></th>
      </tr>
      <% @plants.each do |plant| %>
        <%= render plant %>
      <% end %>
    </table>
    <div data-controller="hello">
      <p>Clicks: <span data-hello-target="bruh"></span></p>
      <button data-action="click->hello#add">A certain button</button>
    </div>
    <div class="w-full bg-red-400">
      <%= link_to "New plant", new_plant_path %>
    </div>
  </div>
</div>
