<div id="<%= dom_id sensor %>">
  <div>
    <h1 class="text-2xl">Sensor <%= sensor.id %></h1>
    <%= line_chart sensor.sensor_logs.last(72).map { |log| [log.created_at, log.value] } %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Show this sensor", sensor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sensor", edit_sensor_path(sensor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
