<!DOCTYPE html>
<html>
  <head>
    <title>GardeningApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="bg-red-200 text-white h-[20vh] flex flex-col items-center justify-center text-2xl" >
    HEADER
  </header>
  <main>
    <%= yield %>
  </main>
  <footer class="">FOOTER</footer>
  </body>
</html>
